# This is safdiff's configuration file
# You can set the default options here, and overide them with command line options.
# a line in this file of the form
# option=value
# can be over-written on the command line by typing safdiff --option=value



#option=value		#descriptoin				sample value
#----------------------------------------------------------------------------

#Control what we are differencing:------------------------------------------

#leftdb=Left.saf	#The left database			file name
#rightdb=Right.saf	#The right database			file name

newdb=diff.saf
overwritenewdb=0
#rightdb=empty.saf
#leftdb=1kelem.saf
#rightdb=1kelem.saf


#NOTE: do not specify a leftobj or rightobj in order to difference the entire databases.
#leftobj=INIT_STATE	#Left saf object to differ		object name
#rightobj=INIT_STATE	#Right saf object to differ		object name
#leftobj=coords
#rightobj=coords
#leftobj=INIT_SUITE
#rightobj=INIT_SUITE


#lefttimeindex=0  	#Only consider this left time index	int
#righttimeindex=0	#Only consider this right time index	int
#lefttimevalue=0.05	#Only consider this left time value	float
#righttimevalue=0.1	#Only consider this right time value	float
timetol=0.01 		#Time value coordinate tolerance	float

#Control what is considered a difference:-----------------------------------

absolute=0.0 		#absolute tolerance			float
relative=0.0 		#relative tolerance			float
absrel_andor=and	#and: must be outside absoulte threshold *and* relative threshold to be considered different
			#or:  must be outside absoulte threshold *or*  relative threshold to be considered different
			#					and|or
floor=0.0		#Noise floor tolerance			float
order=any	 	#allow any order or force same order	any|strict

#Control ASCII output:------------------------------------------------------

obase=10 		#output base				2|8|10|16
width=0			#Set the column width			int

#precision=6		#Set the precision for floating ponit numbers	int
drawtree=1		#tree style output			1|0
verbosity=3             #control verbosity of output 0-5

#What is written to a new saf database that contains the differences:--------

store=diffs,map,rel_diff,left #what to store			diffs,map,rel_diffs,left,right,ave,exclusive
store=nothing		#what to store diffs,map,rel_diffs,left,right,ave,exclusive
			#comma separated list of the following, (no spaces)
			#diff		store the differences of fields
			#map		store a 0/1 threhold map that is 0 if the differences are within
			#		the threshold and 1 if their difference is outside the threshold.
			#left		Copy the right fields into the new database
			#right		Copy the left fields into the new database
			#ave		Store the average of the left and right field values into the new database
			#rel_diffs	store the relative differences of fields
			#exclusive	Copy exclusive objects into the new database

coord_field=ave		#default coordinates			ave|left|right

#Field specific parameters--------------------------------------------------

#field=field_name:absolute=A:relative=R:floor=F:absrel_andor=and:store=diffs,map,rel_diffs,left:verbosity=default
#You can overwrite *some* of the global parameters with field local parameters.  
#The over-writable field local parameters are listed above.
#You may only use the field local "store=" parameter if the global "store=" parameter is set to something
#(i.e. you must be storing something for every field to be able to pick and choose additional fields you want to write out)

#field=pressure:verbosity=detials
#field=velocity:verbosity=default
#field=stress:verbosity=details,default


